body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#canvas {
    background-color: #0148ff;
    width: 90vw; 
    max-width: 1200px;
    height: auto;
}