body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#canvas {
    background-image: url("background_img.jpg");
    background-size: cover;
    width: 100vw; 
    max-width: 1500px;
    height: auto;
}